name: "Build"

on:
  push:
    branches:
      - main
  pull_request:
    branches: [ main ]

env:
  RUST_VERSION: 1.91.0 # the same as in rust-toolchain
  ACTIONS_STEP_DEBUG: true
  CARGO_INCREMENTAL: 1

jobs:
  build_all:
    strategy:
      matrix:
        targets: [
          { os: "macos-15", rust_targets: "aarch64-apple-darwin", package_manager: "brew" },
          { os: "macos-15-intel", rust_targets: "x86_64-apple-darwin", package_manager: "brew" }, # mac with intel cpu
          { os: "ubuntu-22.04", rust_targets: "x86_64-unknown-linux-gnu", package_manager: "apt" },
          { os: "ubuntu-22.04-arm", rust_targets: "aarch64-unknown-linux-gnu", package_manager: "apt" },
          { os: "windows-2025", rust_targets: "x86_64-pc-windows-msvc", package_manager: "winget" },
          { os: "windows-11-arm", rust_targets: "aarch64-pc-windows-msvc", package_manager: "winget" },
        ]
    runs-on: ${{ matrix.targets.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install Dependencies
        if: "${{ matrix.targets.package_manager == 'apt' }}"
        run: |
          sudo apt update
          sudo apt install libwayland-dev libxkbcommon-dev

      - name: Install Keyboard Layouts
        if: ${{ startsWith(matrix.targets.os, 'macos') }}
        run: ./scripts/macos_install_input_sources.sh

      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: ${{ env.RUST_VERSION }}
          target: ${{ matrix.targets.rust_targets }}
          components: rustfmt, clippy
          cache-workspaces: "./native -> target"
          cache: true

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Lint with Gradle
        run: ./gradlew lint
      - name: Test with Gradle
        run: ./gradlew test --info
      - name: Build with Gradle
        run: ./gradlew build


      - name: Publish Test Report
        if: always() # Ensure this step runs even if the test step fails
        uses: dorny/test-reporter@v2
        with:
          name: Tests Report (${{ matrix.os }})
          path: kotlin-desktop-toolkit/build/test-results/test/*.xml
          reporter: java-junit
          fail-on-empty: false
          fail-on-error: false
